@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --normal-font: 2rem;
  --large-font: 2.5rem;
  --text-color: #ffffff;
  --hover-color: #ff02bc;
  --bg-color: #01070d;
  --text-btn-color: rgb(255, 255, 255);
  --third-bg-color: #093b36;
  --second-bg-color: #2b3232;
  --neon-box-shadow: 0 0 0.5rem #ff02bc;
  /* --font-neon-text-shadow: 0 0 10px rgba(255, 0, 234, 0.3),
    0 0 20px rgba(255, 0, 234, 0.3), 0 0 30px rgba(255, 0, 234, 0.3),
    0 0 40px rgba(255, 0, 234, 0.3), 0 0 70px rgba(255, 0, 234, 0.3),
    0 0 80px rgba(255, 0, 234, 0.3), 0 0 100px rgba(255, 0, 234, 0.3),
    0 0 150px rgba(255, 0, 234, 0.3); */
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--second-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: rgb(255, 255, 255);
  /* width: 100%; */
  /* overflow-x: hidden; */
}
.flex-style {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

/* navbar style*/

header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 10%;
  z-index: 1000;
}
header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--second-bg-color);
  padding: 20px 10%;
  z-index: 1000;
}
.logo a {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--hover-color);
}

span {
  color: var(--text-color);
}
.navlist {
  display: flex;
}
.navlist a {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px;
}
.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(255, 0, 234, 0.6), 0 0 20px rgba(255, 0, 234, 0.6),
    0 0 30px rgba(255, 0, 234, 0.6), 0 0 40px rgba(255, 0, 234, 0.6),
    0 0 70px rgba(255, 0, 234, 0.6), 0 0 80px rgba(255, 0, 234, 0.6),
    0 0 100px rgba(255, 0, 234, 0.6), 0 0 150px rgba(255, 0, 234, 0.6);
}
.navlist a.active {
  color: var(--hover-color);
}
#menu-icon {
  font-size: 1.8rem;
  z-index: 10000;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--second-bg-color);
  display: none;
}

section {
  padding: 50px 10%;
}

/* home content goes here */

.home {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  position: relative;
  overflow: hidden;
}
.home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 0.2rem;
  padding-top: 20%;
  /* border: 2px solid white; */
}
.home-content h1 {
  font-size: var(--large-font);
  font-weight: 700;
}

/* animation for text */

.change-text {
  font-size: 1.5rem;
  font-weight: 700;
}
.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.change-text h3 .word .letter {
  transform-origin: center center 25px;
  color: var(--hover-color);
}
.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.change-text h3 .word .letter.in {
  transition: 0.38s ease;
}
.change-text h3 .word .letter.behind {
  transform: rotateX(-90deg);
}
.home-content p {
  color: #ffffff;
  line-height: 1.6;
}

/* button styling */

.btn-box {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 45px;
  margin: 20px 0px;
  gap: 20px;
}
.btn-box a.btn {
  display: inline-flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  width: auto;
  border: 2px solid var(--hover-color);
  padding: 20px;
  height: 100%;
  background-color: var(--hover-color);
  color: var(--text-btn-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
a.btn:hover {
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
}
a.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
}
a.btn:hover::before {
  width: 100%;
}

a.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}
a.btn:nth-child(2):hover {
  color: var(--text-btn-color);
}
a.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.icon {
  font-size: 1.3rem;
}

/*  whatsapp button css  */

.whatsapp a.btn {
  display: inline-flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  width: auto;
  border: 2px solid rgb(3, 177, 93);
  height: 45px;
  padding: 20px;
  background-color: rgb(3, 177, 93);
  color: var(--text-btn-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  border-radius: 5px;
  box-shadow: 0 0 0.5rem rgb(3, 177, 93) !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.whatsapp a.btn:hover {
  color: rgb(3, 177, 93);
  box-shadow: 0 0 0.5rem rgb(3, 177, 93) !important;
}

/* social button style */

/* .follow-link {
  width: 370px;
  height: 60px;
  position: relative;
  background: var(--bg-color);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  box-shadow: var(--neon-box-shadow);
  border: 2px solid var(--hover-color);
}
.follow-link .follow-btn {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: var(--hover-color);
  transition: all 0.9s ease-in-out;
  transition-delay: 4ms;
}
.follow-link:hover .follow-btn {
  transform: translateX(500px);
}
.follow-link .follow-btn a {
  transform: scale(1);
  opacity: 1;
  height: 100%;
  padding: 0;
  color: var(--text-btn-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.9s;
}
.follow-link:hover .social a {
  transform: scale(1.6);
  transition-timing-function: cubic-bezier(1, -0.03, 0, 1.85);
  opacity: 1;
}

.social {
  justify-content: space-evenly;
}
.social a {
  padding: 15px;
  transition: all 0.7s;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  color: var(--text-color);
  text-decoration: none;
}
.social a:nth-child(1) {
  transition-delay: 85ms;
}
.social a:nth-child(2) {
  transition-delay: 170ms;
}
.social a:nth-child(3) {
  transition-delay: 255ms;
}
.social a:nth-child(4) {
  transition-delay: 340ms;
}

.social a:hover {
  color: var(--hover-color);
  transition-timing-function: ease-in-out !important;
} */

/* homepage image style */

.image-container {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid white; */
  padding-top: 14%;
}
.link-circle {
  height: 28rem;
  width: 28rem;
  position: relative;
  border: 2px solid var(--hover-color);
  border-radius: 50%;
  animation: rotation 40s linear infinite;
}
.hero-image {
  position: absolute;
  height: 22rem;
  width: 22rem;
  padding: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  background: var(--hover-color);
}
.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
}
.link-circle a {
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  font-size: 20px;
  box-shadow: 0 0 1rem rgba(255, 0, 234, 0.6);
  transition: 0.5s ease;
}

.link-circle a:hover {
  background: var(--hover-color);
  color: var(--bg-color);
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.link-circle a:nth-child(1) {
  left: 50%;
  top: -1.5rem;
}
.link-circle a:nth-child(2) {
  top: 50%;
  right: -1.5rem;
}
.link-circle a:nth-child(3) {
  right: 50%;
  bottom: -1.5rem;
}
.link-circle a:nth-child(4) {
  bottom: 50%;
  left: -1.5rem;
}

/* .home-image {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.image-box {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.image-box img {
  width: 100%;
  max-width: 300px;
}

.blob-shape {
  position: absolute;
  top: 10%;
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.blob-shape svg {
  width: 100%;
  height: 100%;
}
.blob-shape:nth-child(2) {
  filter: blur(20px);
} */

/* about section css */
.about-section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  gap: 4em;
  background: var(--second-bg-color);
  position: relative;
}
.about-image-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
}
.about-blob {
  position: relative;
  width: 600px; /* Adjust this to the desired width */
  height: auto; /* Adjust this as needed */
  transition: all 0.5s ease-in-out;
}

.about-blob svg {
  position: relative;
  align-self: center;
  width: 100%;
  height: 100%;
}

.about-blob img {
  max-width: 80%;
  height: 70%;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;
}
.info-blob1,
.info-blob2,
.info-blob3 {
  background: var(--bg-color);
  font-size: 0.6rem;
  position: absolute;
  padding: 3%;
  width: 95px;
  height: 95px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  display: block;
  text-align: center;
  box-shadow: var(--neon-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 150;
  animation: info-blob-animation 6s linear infinite;
}
.about-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 0.2rem;
}
.about-info-container h2 {
  font-size: var(--normal-font);
  font-weight: 600;
  text-transform: uppercase;
}
.about-info-container h3 {
  color: var(--hover-color);
  margin-bottom: 0.2rem;
}
.info-blob1 {
  left: 17%;
  top: 40%;
}
.info-blob2 {
  left: 65%;
  top: 25%;
}
.info-blob3 {
  left: 50%;
  top: 70%;
}
.about-image-container span {
  color: var(--hover-color);
  font-size: 1rem;
  font-weight: 600;
}
.info {
  width: 100%;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(3, 1fr);
}

/*  service section css style */

.services-section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.services-section h2 {
  font-size: var(--normal-font);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--hover-color);
  text-align: center;
}
.services {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 380px));
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
}
.service-card {
  width: 100%;
  height: 488px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  flex: 1 1 18rem;
  padding: 2rem 1rem;
  text-align: center;
  background: var(--second-bg-color);
  transition: all 0.4s;
  border-radius: 10px;
}
.service-btn {
  width: auto;
  margin: 0 auto;
  /* justify-content: center; */
}
.service-card:hover {
  transform: translateY(-1rem);
  background: var(--third-bg-color);
}

.service-icon {
  border: 2px solid var(--hover-color);
  padding: 2rem;
  display: flex;
  background: var(--bg-color);
  align-items: center;
  font-size: 3rem;
  position: relative;
  border-radius: 50%;
  margin-top: 20px;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--bg-color);
}
.service-card h3 {
  font-size: 1.5;
}

.service-card p {
  color: var(--text-color);
  line-height: 1.6;
}

/* My skills-section Css goes here */

.skills-section {
  width: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
}
.skills-section h2 {
  font-size: var(--normal-font);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--hover-color);
  text-align: center;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 30px;
  column-gap: 50px;
  padding: 30px;
  border-radius: 10px;
  background: var(--bg-color);
}
/* common box */

.skills-box {
  width: 100%;
  background: var(--bg-color);
}
.skills-box h3 {
  font-size: var(--normal-font);
  text-align: center;
  margin-bottom: 1rem;
}

/* technical skills */

.skills-box .technical-skills-info {
  margin-bottom: 2.3rem;
}
.skills-box .technical-skills-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-box .technical-skills-info .bar {
  width: 100%;
  height: 10px;
  background: var(--second-bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.technical-skills-info .bar span {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0%;
  border-radius: 25px;
  background: var(--hover-color);
}

/* progress bar animation and hovering */

.technical-skills-info .bar .html {
  width: 88%;
  animation: html 6s ease-in-out;
}
.technical-skills-info .bar .css {
  width: 82%;
  animation: css 6s ease-in-out;
}
.technical-skills-info .bar .react {
  width: 78%;
  animation: react 6s ease-in-out;
}
.technical-skills-info .bar .node {
  width: 85%;
  animation: node 6s ease-in-out;
}
.technical-skills-info .bar .cpp {
  width: 90%;
  animation: cpp 6s ease-in-out;
}
.technical-skills-info .bar .python {
  width: 70%;
  animation: python 6s ease-in-out;
}

/* professional skills  css */
.professional-skills-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.circle-skills-box {
  margin: 10px 0px;
  flex: 1 1 15rem;
  position: relative;
}

.circle-skills-box .text {
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
}
.circle-skills-box p {
  font: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-skills-box small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 120px;
}

.circle .points {
  width: 5px;
  height: 10px;
  background-color: var(--second-bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}

.points.marked {
  animation: circle 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.047s);
}

/* portfolio cards css  */

.portfolio-section {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.portfolio-section h2 {
  font-size: var(--normal-font);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--hover-color);
}

.portfolio-container {
  width: 100%;
  height: 100%;
  gap: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: center; */
}

.portfolio-container .card {
  position: relative;
  width: 50%;
  height: 350px;
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  border-radius: 10px;
  transition: width 1s ease;
}
.portfolio-container .card:hover {
  width: 100%;
}

.portfolio-container .card .face1 {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  transition: transform 0.5s ease, width 0.5s ease, border 0.5s ease,
    box-shadow 0.5s ease;
  z-index: 100;
  box-shadow: var(--neon-box-shadow);
  border: 2px solid var(--hover-color);
}

.portfolio-container .card .face1::before {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 20;
  transition: 0.5s all ease;
  border-radius: 10px;
}

.portfolio-container .card:hover .face1::before {
  opacity: 0.5;
  background: linear-gradient(transparent, var(--hover-color));
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

.portfolio-container .card .face1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-container .card:hover .face1 img {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}
.portfolio-container .card:hover .face1 {
  transform: translateX(-50%);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-right: 0px;
  box-shadow: none;
  width: 50%;
}
.portfolio-container .card .face2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--hover-color);
  background: linear-gradient(var(--second-bg-color), var(--third-bg-color));
  box-sizing: border-box;
  transition: transform 0.5s ease, width 0.5s ease, border 0.5s ease,
    opacity 0.5s ease;
}

.portfolio-container .card:hover .face2 {
  width: 50%;
  transform: translateX(50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.content h2 {
  color: var(--text-color);
  text-transform: uppercase;
}

.content p.about-project {
  font-weight: 300;
}

.face2 .content .libraries p {
  color: var(--hover-color);
  width: 100%;
  text-align: center;
  font-family: cursive;
  margin: 0.5rem 0;
}

/* css for contact us  */

.contact-section {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: var(--second-bg-color);
}
.contact-section h2 {
  font-size: var(--normal-font);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--hover-color);
}
.contact-container {
  width: 100%;
  display: grid;
  gap: 2rem;
  position: relative;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-info h2 {
  color: var(--text-color);
  font-family: "";
}
.contact-info p {
  font-weight: 300;
}
.contact-info .contact-list li {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0rem;
}
.contact-info .contact-list li i {
  text-align: center;
  color: var(--text-color);
  font-size: 1.8rem;
  background: var(--hover-color);
  padding: 10px;
  border-radius: 50%;
}

.contact-form {
  width: 100%;
  height: 100%;
}
.form {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.form input,
textarea {
  width: 100%;
  height: 45px;
  font-size: 1rem;
  padding: 0.5rem;
  background: var(--bg-color);
  border: none;
  outline: none;
  resize: none;
  color: var(--text-color);
  border-radius: 5px;
}

/* remove increase decrease button from number input  */

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.form textarea {
  height: 100px;
  font-size: 1rem;
  font-family: sans-serif;
}
#submit-btn {
  width: 40%;
  height: 45px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  color: var(--text-btn-color);
  background: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  cursor: pointer;
}

/* on form submit button is deactivated */

#submit-btn.active {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.5s ease;
}

#submit-btn.active p {
  font-weight: 600;
  transition: all 0.5s ease;
}

/* parallax effect css  */

.scroll-left {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 2s ease;
}
.scroll-right {
  opacity: 0;
  transform: translateX(300px);
  transition: all 2s ease;
}
.scroll-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s ease;
}

.scroll-bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: all 2s ease;
}
.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: all 2s ease;
}

.display-items {
  opacity: 1;
  transform: translateX(0);
}
/* animation for about-section info-blob */

@keyframes info-blob-animation {
  0%,
  100% {
    border-radius: 70% 30% 27% 77% / 54% 40% 60% 46%;
  }
  30% {
    border-radius: 56% 44% 30% 70% / 29% 30% 70% 71%;
  }
  60% {
    border-radius: 40% 60% 70% 30% / 60% 45% 55% 40%;
  }
  80% {
    border-radius: 65% 35% 37% 63% / 45% 40% 60% 55%;
  }
}

/* animation for skills-section => skills bar  */

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 88%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 82%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 78%;
  }
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes cpp {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* professional skills - circle grow animation */

@keyframes circle {
  0% {
    background: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background-color: var(--hover-color);
    border: 1px;
  }
}

/* 1 Break points responsiveness  */

@media (max-width: 1064px) {
  .home {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0rem;
  }
  .image-container {
    padding: 10% 0% 10% 0%;
    grid-row: 1;
  }
  .home-content {
    padding-top: 0%;
  }
}

@media (max-width: 991px) {
  #menu-icon {
    display: block;
    transition: all 0.5s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -500%;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all 0.5s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .navlist.open {
    top: 100%;
  }
  :root {
    --normal-font: 1.8rem;
    --large-font: 2.2rem;
    --text-color: #ffffff;
    --hover-color: #ff02bc;
    --bg-color: #01070d;
    --text-btn-color: rgb(255, 255, 255);
    --third-bg-color: #093b36;
    --second-bg-color: #363e3e;
    --neon-box-shadow: 0 0 0.8rem #ff02bc;
  }
  .about-section {
    flex-direction: column;
  }
  .about-blob {
    width: 500px;
  }

  .portfolio-container .card {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
  }

  .portfolio-container .card:hover {
    width: 400px;
    height: 700px;
  }
  .portfolio-container .card .face1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    display: flex;
  margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    transition: 0.5s all ease;
    z-index: 100;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
  }
  .portfolio-container .card .face1 img {
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 10px;
  }
  .portfolio-container .card .face1::before {
    content: "";
    position: absolute;
    background: linear-gradient(transparent, black);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 20;
    transition: 0.5s all ease;
    border-radius: 10px;
  }
  .portfolio-container .card:hover .face1::before {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--hover-color));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .portfolio-container .card .face1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .portfolio-container .card:hover .face1 img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .portfolio-container .card:hover .face1 {
    transform: translateY(-50%);
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid var(--hover-color);
    border-bottom: 0px;
    box-shadow: none;
  }

  .portfolio-container .card .face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    display: flex;
  margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
    overflow-y: hidden;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--hover-color);
    background: linear-gradient(var(--second-bg-color), var(--third-bg-color));
    box-sizing: border-box;
    transition: 0.5s all ease;
  }
  .portfolio-container .card:hover .face2 {
    width: 100%;
    height: 50%;
    transform: translateY(50%);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--hover-color);
    border-top: 0px;
  }
}

/* 2nd break point  */

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
  .image-container {
    padding-top: 18%;
    padding-bottom: 16%;
  }
  .link-circle {
    height: 26rem;
    width: 26rem;
  }
  .hero-image {
    height: 20rem;
    width: 20rem;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .contact-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .face2-btn a.btn {
    box-shadow: none;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 80%;
  }
  .about-image-container span {
    font-size: 1.3rem;
  }
  .about-image-container img {
    width: 300px;
  }
  .info-blob1,
  .info-blob2,
  .info-blob3 {
    font-size: 0.7rem;
  }
  .services {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  }
  .service-card {
    height: 420px;
  }
  .portfolio-container .card {
    width: 100%;
    height: 250px;
  }
  .portfolio-container .card:hover {
    width: 300px;
    height: 500px;
  }
  .portfolio-container .card:hover .content p.about-project {
    display: none;
  }
  .face2-btn {
    width: 100%;
    height: 105px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  margin: 0 auto;
    /* justify-content: center; */
    gap: 10px;
    margin: 10px 0px;
  }
  .face2-btn a.btn {
    width: 60%;
    box-shadow: none;
  }
}
